.benefits-list {
  @extend %list;

  display: flex;
  flex-direction: column;
  gap: $indent-three;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.benefits-item {
  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - $indent-three * ($items-four - 1)) / $items-four);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - $indent-three * ($items-two - 1)) / $items-two);
  }
}

.benefits-item__box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgColor;

  height: 120px;
  margin-bottom: 30px;
}

.benefits-item__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: $contactsColor;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.benefits-item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}
