.mobile-menu__button {
  position: absolute;
  // z-index: 999;
  top: 10px;
  right: 15px;

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-menu {
  position: absolute;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;

  display: none;

  z-index: 999;

  transform: translateX(100%);
  transition: transform $timingFunction;

  background-color: $primaryBgColor;
  overflow-y: scroll;

  @media screen and (max-width: calc($tablet - 1px)) {
    &.is-open {
      display: flex;
      flex-direction: column;

      transform: translateX(0);
    }
  }
}

.mobile-menu__icon:hover,
.mobile-menu__icon:focus {
  fill: $accentColor;
}

.mobile-menu-nav {
  @extend %list;

  margin-bottom: 302px;
}

.mobile-menu-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: $contactsColor;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu-nav__link {
  @extend %link;
}

.mobile-menu-nav__link--current {
  color: $accentColor;
}

.mobile-menu-contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu-contacts {
  @extend %list;

  margin-bottom: 64px;
}

.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts__link {
  @extend %link;
}

.mobile-menu-contacts__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;

  color: $accentColor;

  @media screen and (max-width: calc($mobile - 1px)) {
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}

.mobile-menu-contacts__link--email {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: $primaryTextColor;

  @media screen and (max-width: calc($mobile - 1px)) {
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}

.mobile-menu-socials {
  @extend %list;

  display: flex;
  flex-wrap: wrap;

  gap: $indent-five;
}

.mobile-menu-socials__item {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;

  color: $accentColor;
}

.mobile-menu-socials__link {
  @extend %link;

  &::after {
    position: absolute;
    content: '';

    height: 22px;
  }
}
