.site-nav {
  @extend %list;

  display: flex;
  margin-bottom: 50px;

  flex-wrap: wrap;

  gap: $indent-one;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}

.site-nav__button {
  background-color: $bgColor;
  color: $contactsColor;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;

  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;

  transition: color $timingFunction, background-color $timingFunction, box-shadow $timingFunction;

  &:hover,
  &:focus,
  &--active {
    background-color: $accentColor;
    color: $primaryBgColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
